@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'YourFont';
  src: url('/fonts/Janna-LT-Regular.ttf') format('opentype'); /* Adjusted to 'opentype' for OTF font */
  /* font-weight: normal;
  font-style: normal; */
}

p{
  font-family: "YourFont";
}
 
li{
  font-family: "YourFont";
}

.custom-btn {
  padding: 12px 32px;
  /* padding-left: 35px;
  padding-right: 35px; */
  margin-bottom: 10px;
 
  background-color: #126c94;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}
.custom-btn:hover {
background-color: #fff;
color: #F25334;
  cursor: pointer;
}
 
.white{
  color: black;
}



/* **************************************Whatsapp button ************************************* */

/* .float-whatsapp-button{
	position:fixed;
	width:60px;
	height:60px;
	bottom:35px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
} */

/* ***********************************Phone Button ********************************** */
/* .float-phone-button {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 105px; 
  right: 40px;
  background-color: #1cc1e7; 
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
} */




/* ***************************************************************** */



